* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  --color-main: #d90a2c;
}

body {
  background-color: black;
  font-family: "Montserrat", sans-serif;
  height: 100dvh;
  overflow-y: hidden;
}

.wrapper {
  height: 100dvh;
  overflow-y: auto;
  scroll-behavior: smooth;
  overflow-x: hidden;
  perspective: 10px;
  position: relative;
}

.bold {
  font-weight: 700;
  font-size: 22px !important;
  color: var(--color-main) !important;
}

.text-red {
  margin-top: 30px !important;
  color: var(--color-main) !important;
}

/* Chrome, Safari, etc. */
.wrapper::-webkit-scrollbar,
textarea::-webkit-scrollbar {
  width: 12px;
  background-color: black;
}

.wrapper::-webkit-scrollbar-thumb,
textarea::-webkit-scrollbar {
  background-color: var(--color-main);
  border-radius: 6px;
}

.wrapper::-webkit-scrollbar-track,
textarea::-webkit-scrollbar {
  background-color: black;
}

.wrapper::-webkit-scrollbar-button,
textarea::-webkit-scrollbar {
  background-color: var(--color-main);
  height: 16px;
}

/* Firefox */
.wrapper,
textarea {
  scrollbar-width: thin;
  scrollbar-color: var(--color-main) black;
}

/* ********************************* */
/* ********* NAPISZ DO NAS ********* */
/* ********************************* */

.closed {
  display: none;
}

dialog {
  display: none;
  animation: vanish 1s;
}

dialog[open] {
  display: inline-block;
  animation: appear 1s;
}

dialog[open]::backdrop {
  display: none;
}

@keyframes appear {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes vanish {
  from {
    display: inline-block;
    opacity: 1;
  }

  to {
    display: none;
    opacity: 0;
  }
}

.napisz {
  position: absolute;
  right: 2%;
  bottom: 2%;
  padding: 10px 20px;
  border: 1px solid var(--color-main);
  background-color: rgb(0, 0, 0, 0.8);
  z-index: 1000;
  color: white;
  font-size: 20px;
  font-weight: 700;
  cursor: pointer;
}

.form {
  color: white;
  position: absolute;
  margin: auto 2% 9% auto;
  width: 700px;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
  border: 1px solid var(--color-main);
  /* margin: 1rem auto; */

  z-index: 1000;
}

form {
  display: flex;
  flex-direction: column;
}

input[type="text"],
input[type="email"],
input[type="tel"],
select,
textarea {
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid var(--color-main);
  background-color: #222;
  color: #fff;
  outline: none;
}

textarea {
  max-width: 600px;
}

fieldset {
  border: 1px solid var(--color-main);
  padding: 10px;
  margin-bottom: 15px;
}

legend {
  color: var(--color-main);
  padding: 0 10px;
}

.button-container {
  display: flex;
}

.button-form {
  margin: 0 auto;
  border: 1px solid var(--color-main);
  width: 10rem;
  height: 2rem;

  background-color: transparent;
  text-align: center;
  color: white;
  letter-spacing: 1px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 700;

  transition: all 0.5s ease-in-out;
  text-decoration: none;
}

.button-form :hover {
  background-color: var(--color-main);
}

.button-form :active {
  color: black;
}

/* ********************************* */
/* ************* HEADER ************ */
/* ********************************* */

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: transform 0.6s ease-in-out, opacity 0.6s ease-in-out;
  height: 86px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  background-color: black;
  border-bottom: 1px solid var(--color-main);
}

.header img {
  padding: 20px;
  margin-left: 20px;
  margin-right: auto;
}

.button-gal,
.button {
  color: white;
  width: 100px;
  font-size: 20px;
  margin-right: 20px;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  transition: scale 0.2s ease-in-out;
}

.button:hover {
  scale: 1.2;
}

.button-gal:hover {
  scale: 1.2;
}

.highlighted {
  color: var(--color-main) !important;
  text-shadow: 0 0 5px #d90a2c, /* Glow */ 0 0 10px #d90a2c, 0 0 15px #d90a2c,
    0 0 20px #ff5d75, /* Outer Glow */ 0 0 30px #ff5d75, 0 0 40px #ff5d75;
}

.facebook,
.instagram {
  height: 50px;
  width: 50px;
  fill: white;
  transition: all 0.5s;
  justify-self: center;
}

.facebook:hover {
  scale: 1.2;
}
.instagram:hover {
  scale: 1.2;
}

/* ********************************* */
/* ********* STRONA GŁOWNA ********* */
/* ********************************* */

.start {
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
  transform-style: preserve-3d;
  z-index: -1;
}

.background {
  transform: translateZ(-20px) scale(3);
  position: absolute;
  height: 100dvh;
  width: 100%;
  object-fit: cover;
  z-index: -2;
}

.headline {
  font-size: 32px;
  color: white;
  letter-spacing: 20px;
  line-height: 1.2;

  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3), -1px -1px 2px rgba(0, 0, 0, 0.3),
    1px -1px 2px rgba(0, 0, 0, 0.3), -1px 1px 2px rgba(0, 0, 0, 0.3);

  transform: scale(0.1);
  opacity: 0;
  transition: transform 1s ease-out, opacity 1s ease-out;
  text-align: center;
}

.headline.visible {
  transform: scale(1);
  opacity: 1;
}

/* ********************************* */
/* ************* USŁUGI ************ */
/* ********************************* */

.uslugi {
  position: relative;
  background-color: black;
  min-height: 800px;
  text-align: center;
  border-top: 1px solid var(--color-main);
  border-bottom: 1px solid var(--color-main);
  z-index: 1;
}

.uslugi-box {
  margin: 0 auto;
  max-width: 1500px;
}

.uslugi-headline {
  color: white;
  font-size: 64px;
  padding: 100px 0 50px 0;
}

.uslugi-text {
  color: white;
  padding: 0 100px;
  font-size: 24px;
  line-height: 1.5;
}

.uslugi-rodzaje {
  padding: 100px 0 50px 0;
  display: flex;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  gap: 40px;
}

.uslugi-left,
.uslugi-right {
  display: flex;
  font-size: 18px;
  border: 1px solid var(--color-main);
}

.image-left {
  height: 300px;
  width: 300px;
  /* background-image: url("../img/uslugi/01r.jpg"); */
}
.image-right {
  height: 300px;
  width: 300px;
  /* background-image: url("../img/uslugi/02r.jpg"); */
}

ul {
  list-style-type: none;
  padding-top: 10px;
  width: 300px;
  padding: 10px;
  cursor: pointer;
}

li {
  color: white;
  padding: 10px 10px;
  text-align: left;
  transition: scale 0.3s linear;
}

li:hover {
  scale: 1.05;
}

.klienci {
  color: white;
  padding: 10px 0 20px 0;
}

/* SCROLLER */

.scroller {
  margin: 0 auto 50px auto;
  width: 90%;
}

.scroller[data-animated="true"] {
  overflow: hidden;

  -webkit-mask: linear-gradient(
    90deg,
    transparent,
    white 20%,
    white 80%,
    transparent
  );
  mask: linear-gradient(90deg, transparent, white 15%, white 85%, transparent);
}

.scroller[data-animated="true"] .inner-scroller {
  width: max-content;
  flex-wrap: nowrap;
  animation: scroll var(--_animation-duration, 30s) linear infinite;
}

.inner-scroller {
  display: flex;
  padding-block: 1rem;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
}

.scroller img {
  height: 130px;
  border-radius: 5px;
  transition: all 0.3s linear;
}

.scroller[data-animated="true"] .inner-scroller:hover {
  animation-play-state: paused;
}

.scroller img:hover {
  scale: 1.05;
}

.scroller:hover img:not(:hover) {
  filter: grayscale(1);
}

@keyframes scroll {
  to {
    transform: translate(calc(-50% - 1rem));
  }
}

/***********************************/
/*************** O NAS *************/
/***********************************/

.o-nas {
  position: relative;
  min-height: 700px;
  background-image: url("../img/pe.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
}

.o-nas-bottom {
  min-height: 400px;
  background-color: black;
  border-top: 1px solid var(--color-main);
  border-bottom: 1px solid var(--color-main);
}

.kto-box {
  margin: 30px auto;
  max-width: 1000px;
  min-height: 200px;
  display: flex;
  color: white;
}

.kto {
  width: 500px;
  font-size: 48px;
  text-align: center;
  display: flex;
  align-items: center;
  padding: 10px;
  margin-left: 10px;
}

.kto-text {
  font-size: 24px;
  line-height: 1.5;
  padding: 20px;
  margin-right: 20px;
}

.o-nas-mid {
  min-height: 300px;
  top: 0;
  left: 0;
  flex-grow: 1;
}

/*************************************/
/*************** KONTAKT *************/
/*************************************/

.kontakt {
  position: relative;
  min-height: 700px;
  background-image: url("../img/kolory.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
}

.kontakt-mid {
  min-height: 300px;
  top: 0;
  left: 0;
  flex-grow: 1;
}

.kontakt-bottom {
  min-height: 400px;
  background-color: black;
  border-top: 1px solid var(--color-main);
  border-bottom: 1px solid var(--color-main);

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.kontakt-headline {
  color: white !important;
  font-size: 64px;
  padding: 60px 0 50px 0;
}

.kontakt-box {
  width: 100dvw;
  /* height: 100px; */
  color: white;
  display: flex !important;
  justify-content: space-around;
  align-items: center;
  padding-bottom: 40px;
  max-width: 800px;
}

.kontakt-box-in {
  display: flex;

  flex-direction: column;
  gap: 20px;
  text-align: center;
}

/*************************************/
/*************** KONTAKT *************/
/*************************************/

.mapa {
  width: 100%;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mapa-google {
  padding: 20px;
  width: 80%;
  height: 400px;
  filter: invert(90%);
}

/*************************************/
/*************** MOBILE **************/
/*************************************/

.nav-hidden {
  display: none;
}

@media (max-width: 1260px) {
  .uslugi-rodzaje {
    flex-direction: column;
  }
}

@media (max-width: 768px) {
  .kto-box,
  .uslugi-left,
  .uslugi-right,
  .uslugi-rodzaje {
    flex-direction: column;
  }

  .form {
    width: 350px;
  }

  .button-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .logo {
    display: none;
  }

  .header {
    padding: 10px;
    flex-wrap: wrap;
    justify-content: center;
  }

  nav {
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 auto;
  }

  .uslugi-text {
    padding: 0 10px;
  }

  .kontakt-box {
    flex-direction: column;
    gap: 20px;
  }
}

.hidden {
  transform: translateY(-100%);
}
